<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252923036559-r0sdptv4tcnssjad8o42fh5203dlesgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252923036559-r0sdptv4tcnssjad8o42fh5203dlesgh</string>
	<key>API_KEY</key>
	<string>AIzaSyD_50uvKU3n46ZEpeXWgMGuJlQwDTnrGGA</string>
	<key>GCM_SENDER_ID</key>
	<string>252923036559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseIntegration</string>
	<key>PROJECT_ID</key>
	<string>integration-firebase-f62e5</string>
	<key>STORAGE_BUCKET</key>
	<string>integration-firebase-f62e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252923036559:ios:de3520fa7542cc1391c1fa</string>
</dict>
</plist>